<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>3D</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon3D</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BlackLogo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlackLogo</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Default</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDefault</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWhite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WhiteLogo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWhiteLogo</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
